{% set publication_show = path('app_publications_show', {'slug': publication.slug}) %}
<article>
	<div class="row">
		<div class="col-md-3">
			{% if publication.featuredImage %}
				<a href="{{ publication_show }}">
					<img src="/uploads/images/{{publication.featuredImage.nom}}" alt="{{publication.featuredImage.altText}}" loading="lazy" width="350" height="205">
				</a>

			{% endif %}
		</div>
		<div class="col-md-9">
			<h3>
				<a class="text-decoration-none" href="{{ publication_show }}">{{ publication.titre }}</a>
			</h3>
			<p>{{ publication.createdAt ? publication.createdAt|date('Y-m-d') : '' }}</p>
			{{ publication.featuredText ?: publication.contenu |striptags|slice(0,200) ~ '...'}}
		</div>
	</div>
</article>
