{% extends 'blog/base.html.twig' %}

{% block title %}
	{{ publication.titre }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ publication.titre }}</h1>
		<p>
			<span class="fw-bold">
				Publiée par :</span>
			{{ publication.user }}</p>
		<p>
			<span class="fw-bold">le :</span>
			{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</p>
		<p>
			<span class="fw-bold">dans la Catégorie :
			</span>
			{{ publication.categorie }}</p>

		<hr>
		{{ publication.contenu|raw}}
	</div>

	{#<a href="{{ path('app_publications_index') }}">back to list</a>
	
		<a href="{{ path('app_publications_edit', {'slug': publication.slug}) }}">edit</a>
	
		{{ include('publications/_delete_form.html.twig') }}#}
{% endblock %}
