<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "_partials/_navBlog.html.twig" %}
		<div class="container">
			<header class="d-flex flex-wrap py-2 mb-4 border-bottom">
				<a href="" class="d-flex align-items-center mb-2 mb-md-0 me-md-auto text-dark text-decoration-none">
					<span class="fs-4">Mon Blog</span>
				</a>
				<ul class="nav nav-pills align-items-center">
					{% if is_granted(('IS_AUTHENTICATED_FULLY')) %}
						<li class="nav-item">
							<a class="nav-link text-dark" href="{{path('app_publications_index')}}">Publications</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Rubriques
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item text-dark" href="#">Niveaux</a>
								</li>
								<li>
									<a class="dropdown-item text-dark" href="#">Catégories</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item text-dark" href="#">Publications</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="{{path('app_logout')}}">Se Déconnecter</a>
						</li>

					{% else %}
						<li class="nav-item">
							<a class="nav-link text-dark " aria-current="page" href="{{path('app_register')}}">S'inscrire</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="{{path('app_login')}}">Se connecter</a>
						</li>
					{% endif %}

				</ul>
			</header>
		</div>
		{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
