{% extends 'users/base.html.twig' %}

{% block title %}Profil de
	{{app.user.prenom}}
	{{app.user.nom}}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="card rounded-5" style="width: 20rem;">
			<div class="card-body bg-info">
				<h5 class="card-title">{{app.user.prenom}}
					{{app.user.nom}}</h5>
				<p class="card-text">Télephone :
					{{app.user.telephone}}</p>
				<p class="card-text">Email :
					{{app.user.email}}</p>
				<p class="card-text">Etablissement :
					{{app.user.etablissement}}</p>
			</div>
		</div>
	</div>

	<div class="container">
		{% for message in app.flashes('message') %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endfor %}
		<div class="col-9 m-3">
			<h3>Publication de :
				{{app.user.prenom}}
				{{app.user.nom}}
				({{app.user.publications|length}})</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-9">
					<hr>
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Titre</th>
								<th>CreatedAt</th>
								<th>Active</th>
								<th>Affichée</th>
							</tr>
						</thead>
						<tbody>
							{% for publication in app.user.publications %}
								<tr>
									<td>{{ publication.titre }}</td>
									<td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
									<td>{{ publication.isActif ? 'Yes' : 'No' }}</td>
									<td>{{ publication.isAfficher ? 'Yes' : 'No' }}</td>
									<td>
										<a class="mx-2" href="{{ path('app_publications_show', {'slug': publication.slug}) }}">lire</a>
										<a href="{{ path('app_publications_edit', {'slug': publication.slug}) }}">Modifier</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="10">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<hr>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
